@import 'tailwindcss';

.hide-input-spinners {
    -moz-appearance: textfield;
    appearance: textfield;
}

.hide-input-spinners::-webkit-outer-spin-button,
.hide-input-spinners::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.vert-rl {
    -webkit-writing-mode: vertical-rl;
    writing-mode: vertical-rl;
}